

div#paper-wrapper {

  position: fixed;
  top: 1em;
  left: 1em;
  bottom: 1em;
  right: 50%;
  // overflow: auto;

}

div#paper {

  position: absolute;
  top: 0;
  left: 0;

  padding: 20px;

  background-color: #FFFFFFEE;

  $box-shadow: 0 0 4px #222D;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  $border-radius: 4px;

  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
