

div.paper-wrapper {

  position: fixed;
  padding: 1em;
  overflow: auto;

  &#selector {
    top: 0;
    left: 0;
    width: 50%;
  }

  &#description {
    bottom: 0;
    right: 0;
    width: 50%;
  }
}

div.paper {

  padding: 1em;

  div.paper-wrapper#selector > & {
    background-color: #FFFFFFCC;
    font-size: 1em;
  }

  div.paper-wrapper#description > & {
    background-color: #FFFFFFCC;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.08em;
  }

  $box-shadow: 0 0 4px #222D;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  text-shadow:
    0 0 1px #FFF8,
    0 0 3px #FFFF;

  $border-radius: 4px;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
